<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <article>
        <h2><a href="">My First Post</a></h2>
        <time>published: 11/24/19 2:49pm</time>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque magni explicabo labore harum nulla assumenda eligendi veniam fugit ducimus impedit.</p>
    </article>
    <article>
    <h2><a href="">My Second Post</a></h2>
    <time>published: 11/24/19 2:49pm</time>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ratione, ullam reprehenderit cumque, doloribus a rerum dolores recusandae eius similique impedit molestiae! Laudantium tempora quisquam laboriosam fugit non veritatis reiciendis, esse consectetur cumque impedit voluptas? Odio sunt aliquam eaque suscipit.</p>
    </article>
</body>
</html>